/*format the form text*/
form {
    font-size: 1.5em;
    color: #777777;
}
textarea {
    border-style: insert;
    width: 80%;
    font-size: 1em;
}
input {
    height: 1%;
    width: 80%;
    font-size: .75em;
}
article {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
 
@media screen and (max-width: 1000px) {
    article {
        margin: 0;
        width: 100%;
 
        position: relative;
    }
    main { 
        width: 100%;
    }
}