/*format the form text*/
form {
    font-size: 1.5em;
    color: #777777;
}
textarea {
    border-style: insert;
    width: 37em;
    font-size: 1em;
}
input {
    height: 30px;
    width: 40em;
    font-size: .75em;
}
article {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
