article {
	position: relative;	
	height: 850px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.25em;
	color: white;
}
article img {
	display: block;
	background-color: lightgray;
	margin: 1em;
	
}
#node {
	position: relative;
	width: 25%;
	float: left;
}
#react {
	width: 25%;
	float: left;
}
#html5 {

	position: absolute;
	top: 60%;
	width: 25%;
	float: left;
}
#css3 {
	position: absolute;
	top: 60%;
	float: left;
	left: 35%;
	width: 25%;	
}
#nodeLabel {
	position: absolute;
	top: 50%;
	left: 10%;
	background-color: #4aaaa5;
	height: 2em;
	text-align: center;
	
}